h1 {
    color:gray;
    text-align: center;
}
body {
    background-color:rgb(10, 37, 10);
}
button {
    text-align: center;
    color:gray;
    background-color: darkgreen;
    width: 80px;
    height: 40px;
}
input {
    background-color: yellowgreen;
    width: 300px;
    height: 30px;
}

#hipervinculo,.hiper {
    color: yellowgreen;
}
form {
    text-align: center;
}
pre,p {
    text-align: center;
    color: rgb(110, 163, 67);
}
blockquote {
    margin: 10px;
    border: 2px solid yellowgreen;
    padding: 5px;
    text-align: center;
    color: rgb(110, 163, 67);
}
